
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:yellowgreen;
  background-image: url("grad.avif");
  background-color: #030543; /* Used if the image is unavailable */
   
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      font-size: 20px;
    
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.head{
  color: #fff;
}
.head4{
  color: #fff;
  margin: 2px;
}
.head1{
  color: rgb(247, 247, 22);
  margin-bottom: 1px;
}
.head2{
  color:rgb(69, 220, 77);
 
}
.head3{
  color:rgb(255, 255, 255);
}


#demo {
  padding-top: 50px;
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #fff;
  text-size-adjust: center ;
}

header {
  padding: 20px;
  text-align: left;
  position: relative;
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
}

.logo-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo-left {
  left: 20px;
}

.logo-right {
  right: 20px;
} 

.container {
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  width: calc(50% - 20px);
  border-radius: 10px;
  background-image: url("");
  background-repeat: no-repeat;
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align: justify;


}

.card :hover{
    
    cursor: pointer;
    color: #0056b3;
    background-color: rgb(202, 230, 247);
    
}
.card-content {
  padding: 20px;
}

.card h3 {
  margin-top: 0;
  font-size: 1.5em;
  color: #018df8;
  
}

.card p {
  margin: 10px 0;
  color: #666;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.card a:hover {
  background-color: #0056b3;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin-right: 0;
  }
  .logo-left,
  .logo-right {
    height: 45px;
  }
  .card1 {
    width: 100%;
    margin-right: 0;
  }
}




.card1 {
  background-color: #f4f4f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  color: #fff;

  
}

.card1 h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.card1 p {
  margin: 10px 0;
  color: #666;
}

.card1 ul {
    margin: 10px 0;
    color: #666;
  }
